@import '~bootstrap/scss/bootstrap';

body{
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    height: 170px;
    
    ul{
        padding: 10px 20px;

        .nav-links{
            color: black;
            text-decoration: none;
            padding: 10px 20px;
            font-weight: 600;
        }
    }
}

.hero{
    background-image: url(../img/jumbotron.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    background-color: black;

    button {
    background-color: rgb(2, 130, 249);
    border: none;
    padding: 10px 39px;
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
}
}


.ms_container{
        flex-wrap: wrap;
        padding: 50px 0 150px 0;
        position: relative;

        .card-wrapper{
            width: calc(100% / 6);
            margin: 30px 0;
        }
}



.btn-current-series{
    position: absolute;
    left: -1%;
    top: -4%;
    font-size: 30px;
    font-weight: 800;
}

.btn-leade-more {
    margin-top: 200px;
}

.ms_card{
    width: 200px;
    height: 300px;

    h5{
        color:white;
        text-align: center;
    }

    img{
        width: 200px;
        height: 300px;
    }
}

.info-wrapper{
    background-color: rgb(2, 130, 249);
    padding: 60px 0;

    .image-wrapper{
        height: 50px;
    
        img{
            object-fit: contain;
            height: 100% ;
        }
    }

    & li:last-child .elements-wrapper img{
        height: 40px;
    }

    .text-information{
        color: white;
        padding-left: 15px;
    }
}



footer{
    background-image: url(../img/footer-bg.jpg);
    height: 400px;
    background-size: cover;

    .ms_container{
        height: 400px;
        overflow-y: hidden;
    }

    .links-wrapper{

        height: 400px;
        
        .list-name{
            color: white;
            padding: 0 55px 35px 0;
            font-weight: bolder;
            font-size: 25px;
        }
        ul{
            
            .links{
                text-decoration: none;
                color:gray;
                font-size: 14px;
            }
        }
    }

    .img-wrapper{
        overflow-y: hidden;
        
        img{
            transform: translateY(-15%);
        }
    }

    .bottom-footer{
        height: 100px;
        width: 100%;
        background-color: rgb(48, 48, 48);
        
        .sign-up{
            background-color: transparent;
            padding: 12px 18px;
            border: 3px solid rgb(2, 130, 249);
            color: white;
            font-size: 18px;
        }

        li{
            padding:10px;
        }
        .follow-text{
            color: rgb(2, 130, 249);
            font-size: 20px;
            font-weight: 600;
        }
    }
}